* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.navlogo {
    max-width: 250px;
    height: 191px;
    background-color: #eee;
    padding-top: 7px;
    text-align: center;
    margin: auto;
}

nav {
    position: sticky;
}


.navfilm {
    max-width: 330px;
    height: 700px;
    background-color: white;
    padding-top: 20px;
    text-align: center;
    margin: auto;
}

header {
    background-color: white;
    /* padding: 30px; */
    margin-bottom: 80px;
    /* text-align: center; */
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}


section {
    display: flex;
    flex-flow: row wrap;
}

nav {
    /* float: left; */
    width: 30%;
    height: auto;
    /* only for demonstration, should be removed */
    /* background: #eee; */
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

.fb {
    color: #4267B2;
    font-size: 26px;
}

.yt {
    color: red;
    font-size: 26px;
}

.tw {
    color: #1DA1F2;
    font-size: 26px;
}

.ins {
    color: #C13584;
    font-size: 26px;
}

.txt {
    color: #4267B2;
    font-size: 20px;
    text-align: center;
    margin-right: 5px;
}

.media {
    background-color: #eee;
    max-width: 330px;
    height: 200px;
    position: static;
}

.films {
    margin-top: 20px;
    margin-right: 40px;
    /* position: static; */
    height: 200px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px 5px;

}

.childd {
    width: 150px;
    height: 70px;
    background-color: #eee;
    padding: 20px;
    margin: auto;
    text-align: center;
    border: 2px solid rgb(208, 202, 202);
    border-radius: 40px;
    transition-property: background;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 20px 10px;
    margin-top: 1px;
    font-size: large;
}

.wrapper>* {
    padding: 20px;
    flex: 1 100%;
}

.film:hover {
    color: white;
}

.childd:hover {
    background-color: #3a38d2;
}

a {
    text-decoration: none;
}

.mostwatched {
    overflow: scroll;
    padding: 20px;
    margin: auto;
    background-color: #eee;
    border-radius: 50px;
    border: 2px solid rgb(208, 202, 202);
}

.newmovie {
    padding: 20px;
    margin: auto;
    background-color: #eee;
    border-radius: 50px;
    border: 2px solid rgb(208, 202, 202);
    width: auto;
    overflow: scroll;
}

.serie {
    margin-top: 30px;
}

.most img {
    width: 100%;
    height: 250px;
}

.most img:hover {
    opacity: 70%;
}

tr td .most {
    width: 230px;
    /* height: 250px; */
    padding: 10px;
}

.new img {
    width: 100%;
    height: 290px;
}

.new {
    width: 223px;
    padding: 20px;
}

.new IMG:hover {
    opacity: 50%;
    border-radius: 50%;
}


.moremost {
    font-size: large;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.dir {
    direction: rtl;
}

.namemost {
    text-align: center;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
}

#mm {
    transform: translate(-10px, -20px);
}

.logo img {
    width: 100%;
}

.logo {
    max-width: 300px;
}

.logotext {
    max-width: 600px;
    margin: auto;
    background-color: #eee;
    padding: 20px;
    border-radius: 50%;
    opacity: 70%;
}

.logotext:hover {
    opacity: 1;
}

.wraper {
    display: flex;
    flex-flow: row wrap;
}

.logotxt {
    /* background-color: #eee;
    padding: 20px; */
    color: black;
    text-shadow: 5px 5px 8px black;
    text-align: center;
    text-transform: uppercase;
    /* transform: translate(250px, 10px); */
    width: 100%;
    font-size: 46px;
    text-align: center;
    letter-spacing: 8px;
    justify-content: center;
    /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */


}

.log a:link {
    color: black;
}

.log a:visited {
    color: gray;
}

.log a:active {
    color: chocolate;
}

/**********article*/

article {
    /* float: right; */
    padding: 20px;
    width: 70%;

    /* height: 300px; */
    /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

#up {
    font-size: 40px;
    color: #a3a0a0;
    padding: 10px;
    direction: rtl;
    /* position: fixed; */
}

#up a:visited {
    color: gray;
}

#up a:link {
    color: black;
}

#up a:active {
    color: #C13584;
}

.childd a:visited {
    color: rgb(21, 65, 21);
}

.childd a:link {
    color: black;
}

.childd a:active {
    color: #C13584;
}

/*form*/
.form {
    border-radius: 150px;
    background-color: rgb(254, 253, 249);
    /* padding: 35px; */
    border: 2px solid rgb(146, 146, 177);
    box-shadow: 3px 6px 15px 9px #a3a0a0;
    /* margin-left: 70px; */
    margin: auto;
    /* margin-right: 10px; */
    /* margin-top: 170px; */
    position: relative;
    height: 750px;
    max-width: 700px;
    text-align: center;
    transform: translate(0px, 15px);
}

.form input:hover {
    opacity: 50%;
}

#table label {
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    font-family: 'Dancing Script', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
    color: rgb(91, 91, 91);
    text-align: center;
    margin-left: 30px;
}

#table {
    text-align: center;
    /* transform: translate(110px); */
    width: 100%;
    border-style: none;
    border-color: #8e8e8e;
    /* height: 80%; */
    /* border: 1px gray solid; */
    border-radius: 200px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=radio],
input[type=range] {

    border: 1px rgb(97, 47, 47) solid;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: silver;
    color: antiquewhite;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 20px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=radio]:focus,
input[type=range]:focus {
    background-color: rgb(176, 206, 196);
    color: rgb(47, 47, 51);
    border: 2px burlywood solid;
    opacity: 100%;
}

#h {
    color: rgb(105, 105, 105);
    padding: 5px;
    letter-spacing: 10px;
    text-indent: 10px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    /* box-shadow: 4px 2px 0px 6px #eee; */
    box-shadow: 2px 2px 4px #000000;
    border-radius: 20px;
    text-transform: uppercase;
}

#btn {
    border: none;
    background-color: #eee;
    padding: 10px;

    cursor: pointer;
    border: 2px solid #a3a0a0;
    color: rgb(105, 105, 105);
    max-width: 200px;
    font-weight: bold;
    transition-property: background;
    transition-duration: 1s;
    box-shadow: 10px 5px 16px 1px rgb(174, 171, 170);
}

#btn:hover {
    background-color: rgb(174, 171, 170);
    color: white;
}

.log {
    font-size: 26px;
    transform: translate(490px, 20px);
    direction: rtl;
    color: black;
    /* justify-content: end; */
}

.sto {
    text-align: center;
    font-size: 26px;
    color: rgb(63, 63, 63);
    padding: 10px;
    /* margin-bottom: 10px; */
    background-color: #eee;
    transform: translate(0px, 30px);
    text-align: center;
    direction: rtl;
    margin: auto;

}

.story {
    padding: 30px;
    color: rgb(63, 63, 63);
}

.imgser img {
    width: 100%;
    height: 300px;

}

.botn {
    border: none;
    background-color: #eee;
    padding: 20px;
    cursor: pointer;
    border: 2px solid #a3a0a0;
    color: rgb(105, 105, 105);
    max-width: 250px;
    font-weight: bold;
    transition-property: background;
    transition-duration: 1s;
    box-shadow: 10px 5px 16px 1px rgb(174, 171, 170);
    font-size: 18px;
    transform: translate(350px);
}

.botn:hover {
    background-color: rgb(174, 171, 170);
    color: white;
}

.imgser {
    max-width: 280px;
    float: right;
}

.tbser {
    direction: rtl;
    max-width: 500px;
    clear: left;
    margin-left: 100px;
    margin-top: 40px;
    background-color: #eee;
}

.tbser #tb {
    border: solid 1px rgb(57, 56, 56);
    font-size: 20px;
    margin: auto;
    width: 100%;
    height: 150px;

}

.sto {
    text-align: center;
}

.story {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    background-color: #eee;
}

/**************/

/* Style the footer */
footer {
    background-color: #a3a0a0;
    padding: 30px;
    text-align: center;
    color: black;
    width: 100%;
}

.footerlog {
    /* margin-top: 150px; */
}



/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

    article,
    nav,
    header,
    footer {
        width: 100%;
        height: auto;
    }
}

@media all and(max-width: 600px) {

    header,
    footer,
    section,
    nav {
        justify-content: space-around;
    }

    nav {
        text-align: center;
        flex-flow: column wrap;
        padding: 0px;
    }

}

@media all and(min-width:500px) {
    article {
        flex: 2 0px;
    }

    header {
        order: 1;
    }

    nav {
        order: 2;
    }

    article {
        order: 3;
    }

    footer {
        order: 4;
    }
}